/.env
/Ricette1.pdf
estrai_ricette_ottimizzato.log
estrai_ottimizzato.log
ricette_complete.json
ricette_split.json
ricette_markdown/7_veli.md
ricette_markdown/agnello.md
ricette_markdown/Al_Salmone.md
ricette_markdown/albicocche.md
ricette_markdown/Bignè_salati.md
ricette_markdown/Candele.md
ricette_markdown/Carne.md
ricette_markdown/coniglio.md
ricette_markdown/Crema_pasticcera_parmigiano.md
ricette_markdown/Crespelle_alla_stracciatella_con_crema_di_fave_e_crumble_di_guanciale.md
ricette_markdown/del_dolce_facilitando_quindi_leffetto_CRESCITA_del_dolce.md
ricette_markdown/etnico.md
ricette_markdown/Focaccia_alla_zucca.md
ricette_markdown/Formaggi.md
ricette_markdown/Gnocchi_di_ricotta.md
ricette_markdown/insalata_olive_etc.md
ricette_markdown/Legumi.md
ricette_markdown/Lievitati_e_torte_salate.md
ricette_markdown/maiale.md
ricette_markdown/manzo.md
ricette_markdown/Mechouia.md
ricette_markdown/messico.md
ricette_markdown/Mlokhiya_molokhiya.md
ricette_markdown/Pane_frattau.md
ricette_markdown/Panini_al_vapore.md
ricette_markdown/Paté_di_fagiano_ricetta_per_una_crema_spalmabile_morbida_e.md
ricette_markdown/peperoni-e-risoaggregatore267299.md
ricette_markdown/pesce.md
ricette_markdown/Pollo_kung_pao.md
ricette_markdown/README.md
ricette_markdown/Ripieno_con_riso.md
ricette_markdown/Risotto_uva_e_more.md
ricette_markdown/salse.md
ricette_markdown/sanocurcuma-in-cucina.md
ricette_markdown/Semifreddo_nocciola.md
ricette_markdown/spezie.md
ricette_markdown/tea.md
ricette_markdown/Torta_de_caxo.md
ricette_markdown/Verdure_agrodole.md
ricette_markdown/verdure.md
ricette_markdown/volatili.md
